@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');
body { padding: 0; margin: 0 }
#unity-container { position: fixed; width: 100%; background-size: cover; background-repeat: no-repeat; height: 100vh;}
#unity-canvas { width: 100%; height: 100%; }
#unity-loading-bar { position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); display: none }
#unity-progress-bar-empty { margin-left: auto; margin-right: auto; width: 141px; height: 18px; margin-top: 10px; background: url('progress-bar-empty-dark.png') no-repeat center }
#unity-progress-bar-full { width: 0%; height: 18px; margin-top: 10px; background: url('progress-bar-full-dark.png') no-repeat center }
#unity-warning { position: absolute; left: 50%; top: 5%; transform: translate(-50%); background: white; padding: 10px; display: none }

.loading {
    background: url(./car.jpg);
    width: 100vw;
    height: 100vh;
    position: absolute;
    top:0;
    left:0;
    z-index: 100000;
    background-size: cover;
    background-repeat: no-repeat;
}

.banner {
    position: absolute;
    left:50%;
    top:32px;
    transform: translateX(-50%);
    max-width: 346px;
    width: 90%;
}
.text {
    font-weight: 700;
    font-size: 24px;
    line-height: 100%;
    color: #fff;
    position: absolute;
    left:50%;
    transform: translateX(-50%);
    font-family: "Play", sans-serif;
    text-shadow: 2px 0 0 #03031f;
    bottom:68px;
}
.procces-bar-cont {
    padding: 2px 3px;
    border-radius: 3px;
    height: 14px;
    position: absolute;
    left:50%;
    transform: translateX(-50%) skewX(-6deg);
    bottom:40px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 339px;
    background: rgba(15, 8, 54, 0.55);
}
.procces-bar-content {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: start;
}
.procces-text {
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-family: "Play", sans-serif;
    padding: 1px 0;
    font-weight: 700;
    font-size: 10px;
    line-height: 100%;
}
.procces-bar {
    width: 333px;
    padding: 1px 0;
    box-shadow: 0 0 12px 0 rgba(255, 0, 255, 0.5);
    background: linear-gradient(90deg, #b21aff 0%, #7e17e5 52.08%, #661aff 100%);
    border-radius: 3px;
    height: 12px;
    display: flex;
    align-items: center;
    position: absolute;
    left:2px;
    top:2px;
}
#unity-canvas {
    background-size: cover;
    background-repeat: no-repeat;
}
#unity-loading-bar {
   opacity: 0;
}
